<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Final Project CI</title>
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container" align="center">
	<div class="jumbotron">
		<h1>Proyecto Final de <h1 class="highlight">INTEC</h1></h1>
	</div>
	<div class="description">
		<h4>
			Asignatura Construccíon de Software
		</h4>
		<h5>
			Prof. Kaking Choi
		</h5>
	</div>
	<div align="center" style="width:50%">
		<div align="left">
			<h4>
				Sustetantes:
			</h4>
		</div>
		<table style="width:100%">
		  <tr>
		    <th>Nombres</th>
		    <th class="id">ID</th> 
		  </tr>
		  <tr>
				<td>Orlando Lluberes</td>	
				<td class="id">1062849</td>
			</tr>
			<tr>
				<td>Rene Arzeno</td>
		  		<td class="id">1062845</td>
			</tr>
			<tr>
				<td>Luis Alvarez</td>
		  		<td class="id">1059759</td>	
			</tr>
			<tr>
				<td>Justo Sierra</td>
		  		<td class="id">1065449</td>
			</tr>
		</table>
		<ul>
		</ul>
	</div>
</div>
	
</body>
</html>
